WinkelClient/Connected Services/WinkelServiceClient/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Registreren">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gebruikersnaam" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="wachtwoord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrerenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrerenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Inloggen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gebruikersnaam" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="wachtwoord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InloggenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InloggenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaldoInformatie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gebruikersnaam" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="wachtwoord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaldoInformatieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaldoInformatieResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductenVerkijgen">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductenVerkijgenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductenVerkijgenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Koop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gebruikersnaam" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="wachtwoord" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productid" type="xs:int" />
        <xs:element minOccurs="0" name="aantal" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KoopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KoopResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KoopHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gebruikersnaam" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="wachtwoord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KoopHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KoopHistoryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>